* {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 20vh;
  background: hotpink;
  position: fixed;
}

.container {
  max-width: 50rem;
	margin: 0 auto;
	padding: 0 6% 0 6%;
}

.navbar-position {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-size: 3rem;
  font-family: 'Quando', serif;
  font-weight: bold;
}

.navbar li {
  display: inline;
  padding-left: 0.2rem;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.1rem;
}

.navbar a {
  color: black;
  text-decoration: none;
  list-style: none;
}

.navbar li a:hover {
  color: #404040;
}

.banner-padding {
  padding-top: 23vh;
}

.box-section {
  width: 100%;
}

.intro {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 10vh;
}

h3 {
  font-size: 2rem;
  margin-top: 5vh;
}

p {
  font-size: 1.3rem;
  font-family: 'Merriweather', serif;
  line-height: 150%;
}

.section-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20vh;
}

.contact-email {
  font-family: 'Merriweather', serif;
}

.icon {
  background: hotpink;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.box-image-1 {
  background-image: url('./././images/whatisraciasm.png');
}
