/*
====
ITCSS Level: GENERIC*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

/*
====
ITCSS Level: BASE*/
/*=Typography*/
/*==Fonts*/
figcaption, .SVG_logo {
  font-family: 'Quando', serif;
}

h1, h2, .SVG_h2 {
  font-family: "Times New Roman", Times, serif;
}

h3, p, .navbar-banner, .byline, .contact-email {
  font-family: 'Merriweather', serif;
}

/*==Sizes, etc.*/
.SVG_logo {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 2vw;
}

.byline {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  margin-left: 2vw;
  padding-bottom: 1.5vh;
}
@media (min-width: 330px) {
  .byline {
    font-size: 1rem;
  }
}

h1, h2 {
  font-size: 1px;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.SVG_h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-anchor: middle;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 1.4rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}
@media (min-width: 370px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 1rem;
  line-height: 150%;
}
@media (min-width: 370px) {
  p {
    font-size: 1.3rem;
  }
}

.navbar-banner a, .logo-banner a, .image_box a {
  color: black;
  text-decoration: none;
}

figcaption {
  font-size: small;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 4px 4px;
  margin-top: 1.5vh;
  background: lightgrey;
}

.contact-email {
  font-size: 0.8rem;
  padding-top: 5vh;
}
@media (min-width: 240px) {
  .contact-email {
    font-size: 1rem;
  }
}
@media (min-width: 340px) {
  .contact-email {
    font-size: 1.4rem;
  }
}
@media (min-width: 370px) {
  .contact-email {
    font-size: 1.5rem;
  }
}
@media (min-width: 495px) {
  .contact-email {
    font-size: 2rem;
  }
}

/*
====
ITCSS Level: Objects
*/
.container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6%;
  padding-right: 6%;
}

.navbar-banner {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navbar-item-position {
    height: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
}

.nav-link_button {
  font-size: 1rem;
  text-align: center;
  border: 2px solid #404040;
  border-radius: 0.3rem;
  padding: 0.3em;
}

.logo-banner {
  width: 100%;
}

.section-intro {
  height: 65vh;
  width: 100%;
  padding: 2vh 1vw;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image_box {
  padding: 3px;
  margin: 1vh 0.5vw;
  border: 1px dotted grey;
  border-radius: 0.3rem;
}

.image_box img {
  display: block;
  max-width: 20vw;
  height: auto;
  width: auto;
  margin: auto;
  border-radius: 0.3rem;
}

.logo_box {
  margin: 2vh 2vw;
  align-items: baseline;
}

.logo_box img {
  display: block;
  max-width: 15vw;
  min-width: 150px;
  height: auto;
  width: auto;
}

.section-contact {
  height: 100vh;
}

.section-contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
}

.icon {
  color: white;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.contact-image {
  display: block;
  max-width: 10vw;
  max-height: 10vh;
  min-width: 65px;
  min-height: 65px;
  height: auto;
  width: auto;
}

/*
====
ITCSS Level: Components
*/
/*=Colours*/
.navbar-banner, .nav-link_button, .logo-banner, .icon {
  background: hotpink;
}

/*=Margins*/
.margin-right_links {
  margin-right: 5px;
}

.margin-left_links {
  margin-left: 5px
}

/*=Padding*/
.top-padding-m {
  padding-top: 10px;
}

.top-margin-l {
  margin-top: 10vh;
}

.banner-padding {
  height: 10vh;
}

/*=Alignment*/
.align-items_baseline {
  align-items: baseline;
}

.align-items_center {
  align-items: center;
}

.center {
  text-align: center;
}
